// Global variables
// ====================================================================

//
// Typography
//

$global-font-family: 'Roboto', sans-serif !default;
$global-font-size: 16px !default;

//
// Background
//

$global-background: #f9fafc !default;
$global-primary-background: #f7d0cb !default;
$global-secondary-background: #e3e4e6 !default;
$global-danger-background: #f0506e !default;

//
// Colors
//

$global-color: #313131 !default;
$global-primary-color: $global-primary-background !default;
$global-secondary-color: $global-background !default;

//
// Border
//

$global-border-width: 1px !default;
$global-border: #e5e5e5 !default;

//
// Control
//

$global-control-height: 40px !default;
$global-control-border-radius: 5px !default;

//
// Gutter
//

$global-gutter: 30px !default;

