.hero {
   background-image: url('../images/apartment.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

//
// Mobile
//
@media screen and (max-width: 767px) {
    .hero {
	background-position: 85% 50%;
	height: 500px;
    }
}

//
// Desktop
//
@media screen and (min-width: 768px) {
    .hero {
	height: 700px;
    }
}
