.index-page {
    .hero {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: $nav-height;
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/apartment.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    }

    .hero-main {
	text-align: center;
	margin-bottom: 10px;
    }

    .hero-main h1 {
	color: $global-secondary-color;
    }

    .hero-main p {
	margin-top: 10px;
	color: $global-secondary-color;
    }

    .hero-bottom {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
    }

    //
    // Mobile
    //
    @media screen and (max-width: 767px) {
	.hero {
	    background-position: 85% 50%;
	    height: 400px;
	}

	.hero-main h1 {
	    font-size: 1.5rem;
	}

	.hero-bottom {
	    height: 100px;
	}
    }

    //
    // Desktop
    //
    @media screen and (min-width: 768px) {
	.hero {
	    height: 600px;
	}

	.hero-main h1 {
	    font-size: 2.5rem;
	}

	.hero-bottom {
	    height: 150px;
	}
    }
}
