.index-page {

    //
    // Common
    //

    section {
	padding-top: 50px;
    }

    .section-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 35px;
    }

    .section-title h2 {
	text-align: center;
	margin-bottom: 5px;
    }

    .title-border {
	width: 70px;
	height: 4px;
	background-color: $global-primary-background;
    }

    //
    // Hero
    //

    .hero {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: $nav-height;
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/apartment.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    }

    .hero-main {
	text-align: center;
	margin-bottom: 10px;
    }

    .hero-main h1 {
	color: $global-secondary-color;
    }

    .hero-main p {
	margin-top: 10px;
	color: $global-secondary-color;
    }

    .hero-bottom {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);

    }

    .hero-bottom > .container {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    }

    //
    // About
    //

    // .about {
    //     padding-top: 50px;
    //     padding-bottom: 50px;
    // }

    .about-table {
	display: flex;
	flex-direction: row;
    }

    .about-item {
	text-align: center;
	width: 33%;
	padding: 0px 15px 15px 15px;
    }

    .about-item p {
	line-height: 24px;
    }


    .circle {
	display: block;
	margin: 0 auto;
	background-color: $global-secondary-background;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 70px;
    }

    #quality-card {
	background-image: url('../icons/quality.svg');
    }

    #staff-card {
	background-image: url('../icons/staff.svg');
    }

    #contact-card {
	background-image: url('../icons/call-answer.svg');
    }

    //
    // Services
    //

    .service-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    }

    .service-item {
	display: flex;
	flex-direction: column;
	font-size: 1.12rem;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	background-color: $global-secondary-background;
	border-radius: 5px;
	padding: 15px;
	margin: 5px;
	width: 200px;
	height: 200px;
	text-align: center;
    }

    .service-item img {
	margin-bottom: 10px;
    }

    //
    // Mobile
    //
    @media screen and (max-width: 767px) {

	//
	// Hero
	//

	.hero {
	    background-position: 85% 50%;
	    height: 550px;
	}

	.hero-main h1 {
	    font-size: 1.5rem;
	}

	.hero-bottom {
	    height: 185px;
	    padding-bottom: 10px;

	    select {
		margin-bottom: 10px;
		width: 90%;
	    }

	}

	.hero-bottom > .container {
	    flex-direction: column;
	}

	//
	// About
	//

	.about-table {
	    flex-direction: column;
	    align-items: center;
	}

	.circle {
	    width: 120px;
	    height: 120px;
	}

	.about-item {
	    width: 70%;
	    margin: 0;
	    margin-bottom: 15px;
	}
    }

    //
    // Tablet
    //
    @media screen and (min-width: 768px) and (max-width: 990px) {

	//
	// Hero
	//

	.hero {
	    height: 650px;
	}

	.hero-bottom {
	    height: 150px;
	}

	.hero-main h1 {
	    font-size: 2.5rem;
	}

	.hero-bottom select {
	    margin-right: 5px;
	    width: 272px;
	}

	.hero-bottom button {
	    width: 136px;
	}

	//
	// About
	//

	.circle {
	    width: 140px;
	    height: 140px;
	}

	.about-item:not(:first-child) {
	    margin-left: 15px;
	}
    }

    //
    // Desktop
    //
    @media screen and (min-width: 991px) {

	//
	// Hero
	//

	.hero {
	    height: 650px;
	}

	.hero-main h1 {
	    font-size: 2.5rem;
	}

	.hero-bottom {
	    height: 150px;
	}

	.hero-bottom select {
	    margin-right: 5px;
	    width: 368px;
	}

	.hero-bottom button {
	    width: 184px;
	}

	//
	// About
	//

	.circle {
	    width: 160px;
	    height: 160px;
	}

	.about-item:not(:first-child) {
	    margin-left: 20px;
	}
    }
}
