$nav-background-color: $global-primary-background !default;
$nav-link-color: $global-color !default;
$nav-link-hover-color: lighten($nav-link-color, 15%) !default;
$nav-horizontal-separator: 1px solid $global-color !default;

nav {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: $nav-background-color;
    transition: height 0.7s ease;
    overflow: hidden;
    z-index: 1;
}

nav .nav-controls {
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header.nav-container {
    transition: height 0.7s ease;
}

nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: inherit;
}

nav li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: $nav-link-color;
    text-decoration: none;
}

nav li > a:hover {
    color: $nav-link-hover-color;
}

nav li > a:focus {
    outline: none;
}

#menu-icon {
    display: none;
}

.horizontal-separator {
    display: none;
    width: 100%;
    border-top: $nav-horizontal-separator;
}

//
// Mobile
//
@media screen and (max-width: 767px) {
    nav {
	padding-left: 40px;
	padding-right: 40px;
    }

    nav li {
	margin-top: 30px;
	margin-bottom: 30px;
    }

    nav li > a {
	font-weight: bold;
	display: block;
    }

    #menu-icon {
	display: inline;
    }

    .horizontal-separator {
	display: block;
    }
}

//
// Desktop
//
@media screen and (min-width: 768px) {

    nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 80px;
	padding-right: 80px;
    }

    nav .nav-controls {
	width: auto;
    }

    nav > ul {
	display: inline-flex;
    }

    nav li {
	margin-left: 40px;
    }
}

