$nav-background-color: $global-primary-background !default;
$nav-link-color: $global-color !default;
$nav-link-hover-color: lighten($nav-link-color, 15%) !default;

nav {
    margin: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $nav-background-color;
}

nav > ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: inherit;
}

nav li > a {
    color: $nav-link-color;
    text-decoration: none;
}

nav li > a:hover {
    color: $nav-link-hover-color;
}

nav li > a:focus {
    outline: none;
}

nav .menu-icon {
    display: none;
}

@media screen and (max-width: 767px) {
    nav {
	padding-left: 40px;
	padding-right: 40px;
    }

    nav .menu-icon {
	display: inline;
    }
}

@media screen and (min-width: 768px) {

    nav {
	padding-left: 80px;
	padding-right: 80px;
    }

    nav > ul {
	display: inline-flex;
    }

    nav li {
	margin: 15px;
    }

}

