// Global variables
// ====================================================================

//
// Typography
//

$global-font-family: Helvetica, sans-serif;
$global-font-size: 16px !default;

//
// Background
//

$global-background: #f9fafc !default;
$global-primary-background: #f7d0cb !default;
$global-danger-background: #f0506e !default;

//
// Colors
//

$global-color: #313131 !default;
$global-primary-color: $global-primary-background !default;
$global-secondary-color: $global-background !default;

